#container{
    background-image: url(../img/target001.png);
    background-size: 100%;
    position: relative;
    height: 95vh;
    padding: 10px;
    background-color: #000;
}

#conteudo{
    background-image: url(../img/pattern001.png);
    background-size: 100%;
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: #ff0202;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}