@charset "UTF-8";

* {
 font-family: Arial, Helvetica, sans-serif;
}

.Tabela{
    width: 400px;
    height: 400px;
    border-collapse: collapse; /*É comum para criar tabelas mais compactas e limpas.*/
}

td{
    padding: 7px;
    border: 1px solid #000;
    text-align: center;/*No text so conseguimos colocar as seguintes propriedades: left e right*/
    vertical-align: middle;/*No alinhamento vertical temos as seguintes propriedades: top, bottom e middle*/
    /*Middle: alinha na vertical*/
}

.numero{
    text-align: right;
}